.contenedor{
    margin: 0 auto;
}
html {

    box-sizing: border-box;
}
body{
    margin: 0;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
    padding: 0 1rem;
}

img{
    width: 100%;
    display: block;
}

.bordes{
    border: 1px solid;
}
.borde-azul{
    border-color: blue;
}

.borde-cyan{
    border-color: #49B7C9;
}
.borde-amarillo{
    border-color: #FAC115;
}